.interna_produtos {
  background: url('../img/bg-produtos.jpg') no-repeat center;
  background-size: cover;
}

.produto_item {
  padding-top: 60px; 
}

.produto_item h2 {
  position: relative;
  top: -120px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
  margin-top: -56px;
}

.produto_item h2::before,
.produto_item h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 8px auto;
}

.produto_icone {
  padding: 70px 0;
  background: #000;
}

.produto_icone img {
  margin: 0 auto;
}

.produto_info {
  background: #000;
}

.produto_info p {
  height: 180px;
  font-size: 18px;
  line-height: 25px;
  padding: 30px 40px;
  color: #fff
}

.produto_info ul li {
  float: left;
  width: 229px;
  height: 49px;
  padding-top: 16px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: #FEC63E;
}

.produto_info ul li:nth-child(1),
.produto_info ul li:nth-child(2) {
  margin-bottom: 2px; 
}

.produto_info ul li:nth-child(odd) {
  margin-right: 2px;
}

/* Orçamento */
.orcamento {
  width: 100%;
  margin-top: 60px;
  padding: 40px 0;
  background: #000;
}

.orcamento h2 {
  color: #FEC63E;
}

.orcamento h2::after {
  background: #FEC63E;
}

.form {
  padding-right: 60px;
}

.form label {
  display: block;
  margin-bottom: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}

.form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border: 4px solid #FEC63E;
  background: none;
  color: #fff;
  padding: 5px 0 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea {
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  border: 4px solid #FEC63E;
  background: none;
  color: #fff;
  padding: 5px 0 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.form button {
  padding: 7px 40px;
  background: none;
}

.orcamento_dados {
  color: #fff;
}

.orcamento_dados h3 {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #FEC63E;
}

.orcamento_dados span {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.orcamento_dados span:nth-of-type(2) {
  margin-bottom: 20px;
}

.orcamento_dados p {
  margin: 8px 0;
}

.orcamento_dados ul {
  padding-right: 60px;  
}

.orcamento_dados ul li {
  padding: 10px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
}

.orcamento_dados ul li:nth-child(odd) {
  background: #1d1d1d;
}